//==============================================================================
// Font stacks and Typeface Variables
//==============================================================================

$fallback-font : ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
								 Helvetica Neue, Arial, Noto Sans, sans-serif;

$inter-font    : "Inter", Inter, "Inter UI", Inter UI;

$fontstack     : $inter-font, $fallback-font !default;
